<h1><%= t('view_title.models.label.edit') %></h1>

<%= render 'form', label: @label %>

<%= link_to t('helpers.select.back'), labels_path %> |
<%= link_to t('view_title.models.admin_user.index'), admin_users_path %>
